#Configuration file for BrowseSVAttributes.java

##########################
# General Settings
##########################

@FirstProjectPath: C:\KePlast\i5000_i2500\01.42\MachineProjects\TestProjectEIMM
@SecondProjectPath: C:\KePlast\i5000_i2500\01.41\MachineProjects\Std_i2880_Hybrid

#Parse file endings can be seperated by comma
#what allows to look for more then only one ending (.sv;.doc;.txt)
@ParseFileEndings: .sv


##########################
# File Parsing Settings
##########################